:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;

  --background-white: #ffffff;
  --background-black: #2f303a;
  --background-button: #f5f4fa;
  --background-gray: #e5e5e5;
  --bordercard-grey: #eeeeee;
  --transparent-mail: rgba(255 255 255 0.6);
  --gradient-color: #c4c4c4;

  --card-set-gep: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-process: 250ms;
}

/* Cтили для Index.html */

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  margin: 0px;
}

/* блок утилита */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header {
  background-color: var(--background-white);
  border-bottom: 1px solid #ececec;
}
/* контейнер */
.container {
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main-nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.page-header__logo {
  margin-right: 43px;
}
.logo__text {
  color: var(--accent-color);
}

/* main-nav */

.main-nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin-left: 50px;
}
.main-nav__item:first-child {
  margin-left: 0;
}

.main-nav__link,
.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;

  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-process) var(--timing-function);
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--accent-color);
}
.main-nav__link--current {
  color: var(--accent-color);
}
.main-nav__link--current {
  position: relative;
}
.main-nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;

  display: inline-block;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  background-color: var(--accent-color);
}
/* auth-nav */

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__icon {
  margin-right: 10px;
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  fill: currentColor;
  color: var(--primary-text-color);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-section {
  background-color: var(--background-black);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(45, 45, 45, 0.6) 100%
    ),
    url(../images/img_5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-process) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363636;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.main-container {
  max-width: 690px;
  padding: 200px 0px;
}

/* Modal-window */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--background-white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-process) var(--timing-function),
    opacity var(--timing-process) var(--timing-function);
  opacity: 1;
}
.form-subcribe {
  display: flex;
  flex-wrap: wrap;
}

.modal-container {
  display: block;
  padding: 40px;
  width: 448px;
}

.form-field-mdl {
  position: relative;
  display: flex;

  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;

  fill: currentColor;
  color: var(--title-text-color);
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.close-btn-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;

  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-white);

  cursor: pointer;
  text-decoration: none;
  color: #000;
  fill: currentColor;
  transition: color var(--timing-process) var(--timing-function);
}

.close-btn-modal:hover,
.close-btn-modal:focus {
  color: var(--accent-color);
}
.modal-title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.icon-form {
  position: absolute;
  display: inline-block;
  left: 15px;
  top: 50%;

  width: 18px;
  height: 18px;
}

.form-field-mdl:focus-within,
.form-field-mdl:hover {
  color: var(--accent-color);
  transition: color var(--timing-process) var(--timing-function);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  transition: var(--timing-function) var(--timing-process);
}
.comments {
  padding: 12px 16px;
  resize: none;
}
.comments::placeholder {
  font-size: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.icon-checkbox {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;

  fill: currentColor;
  color: var(--white-color);
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: var(--timing-function) var(--timing-process);
}

.checkbox:checked + .icon-checkbox {
  color: var(--white-color);
  background-image: url(../images/iconcheck.svg);

  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.checkbox-text {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  font-family: Roboto;
  font-weight: 400;

  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.checkbox-link {
  color: var(--accent-color);
}

/* features-list */
.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}
.feature-list .item + .item {
  margin-left: 30px;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}
.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-button);
  margin-bottom: 30px;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-toppadding {
  padding-top: 0;
  padding-bottom: 94;
}
/* Occupation */
.flex-occupation {
  display: flex;
}

.flex-occupation .item {
  width: 370px;
}
.thumb-occupation {
  position: relative;
}

.flex-occupation .item + .item {
  margin-left: 30px;
}
.occupation-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  margin: 0;
  padding: 27px 0;
  text-align: center;

  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  letter-spacing: 0.03em;
}

.second-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Section team */
.team-list {
  display: flex;
  align-items: center;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .item {
  background-color: var(--background-white);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: var(--background-button);
}

.team-list .names {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .profession {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.teambox {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* .team-icon {
  width: 20px;
  height: 20px; */
/* } */

.team-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-white);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: #afb1b8;
  transition: color var(--timing-process) var(--timing-function),
    background-color var(--timing-process) var(--timing-function);
}

.team-link:focus,
.team-link:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.icon-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.team-item-icon + .team-item-icon {
  margin-left: 10px;
}

/* Clients */

.client-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: #afb1b8;
  transition: color var(--timing-process) var(--timing-function),
    border-color var(--timing-process) var(--timing-function);
}

.client-link:focus,
.client-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-item-icon + .client-item-icon {
  margin-left: 30px;
}
/* buttons */
.button {
  color: var(--title-text-color);
  background-color: var(--background-button);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition: color var(--timing-process) var(--timing-function),
    background-color var(--timing-process) var(--timing-function),
    box-shadow var(--timing-process) var(--timing-function);
}
.button:focus,
.button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* footer */
.page-footer > .container {
  display: flex;
  align-items: baseline;
  padding-top: 59px;
  padding-bottom: 59px;
}
.page-footer {
  background-color: var(--background-black);

  margin-left: auto;
  margin-right: auto;
}

.footer-conteiner {
  display: flex;
  /* padding-top: 59px;
  padding-bottom: 59px; */
  flex-direction: column;
}
.footer-conteiner + .footer-conteiner {
  margin-left: 70px;
}
.footer-conteiner:last-child {
  margin-left: 93px;
}
/* .second.footer-conteiner {
   padding-top: 73px;
  padding-bottom: 100px; 
} */

/* .form-field.footer-conteiner {
  padding-top: 72px;
  padding-bottom: 93px;
} */

.form-field {
  width: 570px;
}
.field-btn-container {
  display: flex;
}
.sub-text {
  display: inline-block;
  margin-right: 10px;
}

.subscribe-label {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.field-btn-container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: 50px;
}

.input-email {
  box-sizing: border-box;
  width: 358px;
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--white-color);

  font-size: 16px;
}
.input-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.footer-adress {
  display: inline-block;
}
.footer-conteiner > .features-title {
  color: var(--white-color);
  margin-bottom: 20px;
}

.logo-footer,
.text-footer {
  color: var(--white-color);
}

.contacts-footer a {
  color: var(--transparent-mail);
}

.contacts-footer,
.text-footer {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;

  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.text-footer {
  margin-top: 0;
  margin-bottom: 9px;
}

.contacts-footer a:focus,
.contacts-footer a:hover {
  color: var(--accent-color);
}
.contacts-footer a {
  transition: color var(--timing-process) var(--timing-function);
}

.contacts-footer .link:not(:last-child) {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: var(--white-color);
  transition: color var(--timing-process) var(--timing-function),
    background-color var(--timing-process) var(--timing-function);
}

.footer-link:focus,
.footer-link:hover {
  background-color: var(--accent-color);
}

/* .footer-icon {
  width: 20px;
  height: 20px;
} */
.footer-item-icon + .footer-item-icon {
  margin-left: 10px;
}

/* Страница портфолио */
.pictblock {
  display: block;
  max-width: 100%;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.flex-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.flex-filter .item + .item {
  margin-left: 8px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: calc(-1 * var(--card-set-gep));
  margin-right: calc(-1 * var(--card-set-gep));
}

/* Можно сделать через width */
.flex-element {
  /* height: 404px; */
  flex-basis: calc(100% / 3 - 1 * var(--card-set-gep));
  margin-right: var(--card-set-gep);
  margin-bottom: var(--card-set-gep);
  transition: box-shadow var(--timing-process) var(--timing-function);
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
/* .flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.flex-element:focus,
.flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-content {
  width: 370px;
  display: block;
  padding: 20px 24px;
  border-bottom: 1px solid var(--bordercard-grey);
  border-left: 1px solid var(--bordercard-grey);
  border-right: 1px solid var(--bordercard-grey);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.flex-element:hover .product-text {
  transform: translateY(0);
}

.product-text {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 63px 24px;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--timing-process) var(--timing-function);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 18px;

  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  line-height: 1.55;
}
