.features-list {
  display: flex;
  align-items: center;
  @extend %list;
  margin-bottom: 94px;
}
.features-list__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;

  margin-bottom: 30px;
}
.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}
.features-list__text {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor("primary-text");
}
.features-list__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
