.page-footer > .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 59px;
}
.page-footer {
  background-color: getColor("background-black");
  max-width: 1600px;
  color: getColor("white");

  margin-left: auto;
  margin-right: auto;
}

.page-footer__conteiner {
  display: flex;
  flex-direction: column;
  // margin-right: 70px;
}
.address {
  font-style: normal;
  font-size: 14px;

  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  line-height: 1.6;
}
.address__text {
  margin-top: 0;
  margin-bottom: 9px;
}
.address__link {
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  font-weight: $font-weight-normal;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  @extend %timing-process-color;

  &:hover {
    color: getColor("accent");
  }
}

.address__list {
  @extend %list;
}
.footer-socials__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.form-footer__container {
  display: flex;
  flex-direction: column;
  // margin-left: auto;

  width: 570px;
}
.form-footer__flex {
  display: flex;
}
.form-footer__label {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: $font-weight-bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.form-footer__input {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  width: 358px;
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  border-radius: 4px;

  line-height: 1.14;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: getColor("white");

  font-size: 16px;
}
.button--footer {
  @extend %flex-centered;
  padding: 10px 0;
  height: 50px;
}
.form-footer__text {
  display: inline-block;
  margin-right: 10px;
}
