$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$timing-process: 250ms;
$base-font: "Roboto", "Arial", "Helvetica", sans-serif;
$section-padding: 94px 0px;
$font-weight-bold: 700;
$font-weight-normal: 400;
$card-set-gep: 30px;
